body{
    
    
}
.header{
    display: block;
    width: auto;
    background-color: #333;
    text-align: center;
    border-radius: 15px;
    padding: 40px;
    }
    nav{
        background-color: #333;
        width: 70px;
        height: 400px;
        text-align: center;
        border-radius: 15px;
        padding: 100px;
        margin-top: 20px;
    }
    section{
        background-color: gray;
        width: 170px;
        height: 400px;
        text-align: center;
        border-radius: 15px;
        
    }
    main {
      
    }