div p {
    width: 500px;
    text-align: center;
    color: #e3e3e3;
}

div {
    width: 500px;
    border: 2px solid red; 
}

div, p {
    width: 500px;
    text-align: center;
    color: #e3e3e3;
}

div > p {
    width: 500px;
    text-align: center;
    color: #e3e3e3;
}